body {
    background: linear-gradient(to top right, black, purple);
}


h1 {
    text-align: center;
    color: white;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    margin-left: 10%;
}

.input {
    float: left;
    display: block;
    width: 30%;
}

.output {
    float: left;
    display: block;
    color: white;
    width: 30%;
}

#imgToGuess {
    width: 50%;
    border-radius: 30%;
    border: none;
}

.btn {
    width: 100%;
    height: 150px;
    background-image: linear-gradient(red, yellow);
    border-radius: 30%;
    border: none;
    font-size: 35px;
    color: white;

}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 20px;
    border: none;
}

.playAgain {
    float: left;
    width: 100%;
    display: block;
    margin-left: 45%;
    border: none;
    border-radius: 20%;
}

.imgGuess {
    float: left;
    display: block;
    color: white;
    width: 60%;
}

.playAgain button {
    margin: 0;
    position: absolute;
    left: 50%;
    background-image: linear-gradient(rgb(9, 255, 0), yellow);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 30%;
    height: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 30%;
}

.hidden {
    display: none;
}